*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    color: #09f9e1;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

video{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}
.text{
    background-color: #05184259;
    backdrop-filter: blur(3px);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #07070737;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}
.text div{
    line-height: 20px;
}
.text h1{
    margin-bottom: 20px;
    color: #52eded;
}

details{
    border-bottom: solid 1px #eeeeee ;
    width: 400px;
}
details summary {
    cursor: pointer;
    padding: 4px;
    border: none;
    display: flex;
    justify-content: space-between;
}
details p {
    /* background-color: #eeeeee; */
    padding: 4px;
    margin: 0;
}
details summary > * {
    display: inline;
}




